<div class="panel panel-primary">
    <div class="panel-heading">
        Flight Search
    </div>
    <div class="panel-body">
        <form (ngSubmit)="onSubmit(searchFrm)" [formGroup]="searchFrm">
            <div class="form-group">
                <div>
                    <select formControlName="FromAirport" class="form-control">
                        <option *ngFor="let airport of fromAirports;" [value]="airport.Code">{{airport.Name}}</option>
                    </select>
                </div>
                <div>
                    <select formControlName="ToAirport" class="form-control">
                        <option *ngFor="let airport of toAirports;" [value]="airport.Code">{{airport.Name}}</option>
                    </select>
                </div>
                <div>
                    <button type="submit" [disabled]="searchFrm.invalid" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <div class="alert alert-info" role="alert" *ngIf="indLoading">
                <img src="../../images/loading.gif" width="32" height="32" /> Loading...
            </div>
            <div *ngIf="flights && flights.length ==0" class="alert alert-info" role="alert">No Records Found!</div>
            <table class="table table-striped" *ngIf="flights && flights.length">
                <thead>
                    <tr>
                        <th>Flight Number</th>
                        <th>From Airport</th>
                        <th>To Airport</th>
                        <th>Departs At</th>
                        <th>Arrives At</th>
                        <th>Main Cabin Cost</th>
                        <th>First Class Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flight of flights">
                        <td>{{flight.FlightNumber}}</td>
                        <td>{{flight.From}}</td>
                        <td>{{flight.To}}</td>
                        <td>{{flight.Departs}}</td>
                        <td>{{flight.Arrives}}</td>
                        <td>{{flight.MainCabinCost}}</td>
                        <td>{{flight.FirstClassCabin}}</td>
                    </tr>
                </tbody>
            </table>
            <div></div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>